                                            .navegacion {
                                                background-color: #121700;
                                                position: fixed;
                                                height: 8vh;
                                                width: 100%;
                                                z-index: 100;
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-around;
                                            }
                                            
                                            .barra-nav {
                                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                                overflow: hidden;
                                                /* Altura de la barra */
                                                width: 95%;
                                                background: #121700;
                                                align-items: center;
                                                justify-content: space-around;
                                                display: flex;
                                            }
                                            /* Enlace curriculum */
                                            
                                            .barra-nav .cv a {
                                                /* offset-x | offset-y | blur-radius | spread-radius | color */
                                                box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);
                                                transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
                                            }
                                            
                                            .cv a:hover {
                                                transform: scale(1.1);
                                                color: #dce0ca;
                                            }
                                            /* Enlaces de navegacion */
                                            
                                            .barra-enlace a {
                                                box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);
                                                transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
                                            }
                                            
                                            .barra-enlace a:hover {
                                                transform: scale(1.1);
                                            }
                                            
                                            .barra-enlace a:active {
                                                color: #dce0ca;
                                                background-color: #516600;
                                                transform: scale(1.1);
                                            }
                                            /* Todos los enlaces */
                                            
                                            .barra-nav a {
                                                display: block;
                                                font-size: 18px;
                                                color: #dce0ca;
                                            }