* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    margin: 0;
    padding: 0;
}

header {}

main {
    background-color: #dce0ca;
}

.contenedor {
    width: 1200px;
    margin: auto;
    /* 1vh = 1% del total de la pantalla, 100vh = 100%. */
}