* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    width: 100%;
    /* Altura de la barra */
    height: 80px;
    background: #d5d3d1;
}