* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    margin: 0;
    padding: 0;
}

header {}

main {
    background-color: #dce0ca;
}