#footer {
    height: 92vh;
    width: 100%;
}

.titulo h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido {
    width: 300px;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido label {
    width: 72px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.contenido input[type="text"],
.contenido input[type="email"] {
    width: 300px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

.contenedor input[type="submit"] {
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #121700;
}

.contenedor input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #dce0ca;
}

textarea {
    style: none;
    width: 300px;
    padding: 8px 16px;
    margin: 8px 0;
    height: 150px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
}