/* El contenedor ocupara todo ancho */

#quien-soy {
    width: 100%;
}


/* espacio que ocupara el contenedor*/

.quien-soy-contenedor {
    /* la imagen empezara 8vh debajo, el mismo tamaño que la bara de nav */
    margin-top: 8vh;
    width: 100%;
    /* 1vh = 1% del total de la pantalla, 100vh = 100%. */
    height: 92vh;
}


/* La imagen ocupara todo el ancho y largo del contenedor*/

.img {
    /* filtro de brillo */
    filter: brightness(40%);
    width: 100%;
    height: 100%;
}


/* .textp-img tomara como referencia al .img para su posicion*/

.texto-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dce0ca;
    text-align: center;
}

.texto-img h1 {
    font-size: 10ch;
    margin-bottom: 30px;
}

.texto-img p {
    font-size: 5ch;
}

.perfil-img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}